<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/89128998-afd5-4e2d-b32a-32b983ba04c5/resourcegroups/ResourceGroup/providers/Microsoft.Web/sites/WEB-API-CRUD-Logics20240730111447</ResourceId>
    <ResourceGroup>ResourceGroup</ResourceGroup>
    <RuntimeIdentifier />
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://web-api-crud-logics20240730111447.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>web-api-crud-logics20240730111447.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WEB-API-CRUD-Logics20240730111447</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>$WEB-API-CRUD-Logics20240730111447</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="TheAgoraDBEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=agoraserver.database.windows.net;Initial Catalog=TheAgoraDB;User ID=NK;Password=p@ssword123;Multiple Active Result Sets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WEB_API_CRUD_Logics.Models.TheAgoraDBEntities, WEB-API-CRUD-Logics" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="WEB_API_CRUD_LogicsContext" Order="2" Enabled="False">
          <Destination Path="Data Source=agoraserver.database.windows.net;Initial Catalog=TheAgoraDB;User ID=NK;Password=p@ssword123;Multiple Active Result Sets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WEB_API_CRUD_Logics.Data.WEB_API_CRUD_LogicsContext, WEB-API-CRUD-Logics" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="WEB_API_CRUD_LogicsContext-Web.config Connection String">
      <ParameterValue>Data Source=agoraserver.database.windows.net;Initial Catalog=TheAgoraDB;User ID=NK;Password=p@ssword123;Multiple Active Result Sets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="TheAgoraDBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string="Data Source=agoraserver.database.windows.net;Initial Catalog=TheAgoraDB;User ID=NK;Password=p@ssword123;Multiple Active Result Sets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>